:root{
    /* #252c29 -- background color primary */
    /* #fffefe -- dis a primer headings  */
    /* #0ebcd2 -- special containers primary */
    /* #e2f0fd -- primary paragraphs */
    /* #d2fb51 -- primary special */

    --dark-bg-color: #2d2335;
    --dark-headings-color: #ded3aa;
    --dark-special-container-color: #37b496;
    --dark-paragraph-color: #e2f0fd;
    --dark-secondary-color: #fe6f39;
    --dark-links-color: #7611c4;
    --dark-links-secondary-color: #7611c4;


    /* #feffff -- background color secondary */
    /* #4945c0 -- dis a second headings  */
    /* #7375a7 -- special containers secondary */
    /* #4f4d5e -- secondary paragraphs */
    /* #00e999 -- secondary special */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html{
    font-size: 100%;
}

body{
    background-color: var(--dark-bg-color);
}


@media screen and (min-width: 750px){
    html{
        font-size: 120%;
    }
}

@media screen and (max-width: 376px){
    html{
        font-size: 60%;
    }
}