:root{
    /* #252c29 -- background color primary */
    /* #fffefe -- dis a primer headings  */
    /* #0ebcd2 -- special containers primary */
    /* #e2f0fd -- primary paragraphs */
    /* #d2fb51 -- primary special */

    --dark-bg-color: #2d2335;
    --dark-headings-color: #ded3aa;
    --dark-a-hover: #ded3aa;
    --dark-strip-bg-color: #ded3aa;
    --dark-special-heading: #2cc3ff;
    --dark-special-container-color: #37b496;
    --dark-paragraph-color: #e2f0fd;
    --dark-secondary-color: #fe6f39;
    --dark-secondary-color-a-before: #fe6f39;
    --dark-secondary-color-proj-links: #fe6f39;
    --dark-secondary-color-mobile-links: #fe6f39;
    --dark-border-secondary-color: #fe6f39;
    --dark-links-color: #7611c4;
    --dark-links-secondary-color: #7611c4;


    /* #feffff -- background color secondary */
    /* #4945c0 -- dis a second headings  */
    /* #7375a7 -- special containers secondary */
    /* #4f4d5e -- secondary paragraphs */
    /* #00e999 -- secondary special */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html{
    font-size: 100%;
}

body{
    background-color: var(--dark-bg-color);
    transition: 0.2s cubic-bezier(1, 0.3, 0.320, 1);
}

body.light{
    --dark-bg-color: #feffff;
    --dark-headings-color: #4945c0;
    --dark-a-hover: #ffffff;
    --dark-special-heading: #2cc3ff;
    --dark-special-container-color: #7375a7;
    --dark-paragraph-color: #4f4d5e;
    --dark-secondary-color: #00e999;
    --dark-secondary-color-a-before: #4945c0;
    --dark-secondary-color-proj-links: #0066ff;
    --dark-secondary-color-mobile-links: black;
    --dark-border-secondary-color: rgb(17, 17, 17);
    --dark-strip-bg-color: rgb(17, 17, 17);
}


.back-to-top-wrapper{
    position: fixed;
    right: 0.625rem;
    bottom: 0.625rem;
    width: calc(4*0.625rem);
    height: calc(4*0.625rem);
    rotate: -90deg;
}

.back-to-top-wrapper > a{
    text-decoration: none;
    padding: calc(1.5*0.625rem);
    border: none;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.625rem;
    background-color: var(--dark-border-secondary-color);
    color: var(--dark-bg-color);
}

@media screen and (min-width: 785px){
    html{
        font-size: 120%;
    }
}

@media screen and (max-width: 376px){
    html{
        font-size: 60%;
    }
}


@media screen and (max-width: 250px){
    html{
        font-size: 40%;
    }
}