:root{
    /* #252c29 -- background color primary */
    /* #fffefe -- dis a primer headings  */
    /* #0ebcd2 -- special containers primary */
    /* #e2f0fd -- primary paragraphs */
    /* #d2fb51 -- primary special */

    --dark-bg-color: #252c29;
    --dark-headings-color: #fffefe;
    --dark-special-container-color: #0ebcd2;
    --dark-paragraph-color: #e2f0fd;
    --dark-secondary-color: #d2fb51;


    /* #feffff -- background color secondary */
    /* #4945c0 -- dis a second headings  */
    /* #7375a7 -- special containers secondary */
    /* #4f4d5e -- secondary paragraphs */
    /* #00e999 -- secondary special */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    background-color: var(--dark-bg-color);
}



@media screen and (min-width: 750px){

}