.page-main-header{
    display:grid;
    position: relative;
    overflow: hidden;
    /* padding: 50px; */
    margin: calc(3 * 0.625rem);
    margin-bottom: 0;
    padding: calc(5 * 0.625rem);
    height: calc(100svh - calc(6 * 0.625rem));
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
    "one two"
    "three three";
    border: solid var(--dark-border-secondary-color);
    border-radius: 0.625rem;
    align-items: center;
    background-color: var(--dark-transparent-bg);
}

.light{
    background-color: transparent;
}



.page-header-logo-wrapper{
    grid-area: one;
}

.logo{
    max-width: 30px;
    min-width: 5%;
    fill: var(--dark-headings-color);
    transition: 0.6s  cubic-bezier(1,0.01,0.32,1);
}


.mobile-header-nav-wrapper{
    position: absolute;
    background-color: var(--dark-secondary-color);
    top: calc(0.625 * 9rem);
    right: 0px;
    width: 0%;
    border-radius: 5px 0 0 5px;
    transition: 0.3s  cubic-bezier(1,0.01,0.32,1);
}

.mobile-toggle-visibility{
    width: 70%;
}

.mobile-header-nav-ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: calc(0.625rem);
    padding: 5px calc(2 * 0.625rem);
}

.mobile-header-nav-ul > li{
    display: flex;
    align-items: center;
}

.mobile-header-nav-ul > li > a{
    font-size: 0.8rem;
}

.page-header-nav-wrapper{
    grid-area: two;
    display: none;
}

.page-header-nav-ul{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    list-style-type: none;
}

.page-header-list-item a{
    text-decoration: none;
    color: var(--dark-paragraph-color);
    font-size: 0.7rem;
    transition: 0.4s  cubic-bezier(1,0.01,0.32,1);
}

.header-menu-btn{
    width: max-content;
    padding: 5px calc(0.625 * 2rem);
    font-weight: bold;
    justify-self: end;
    cursor: pointer;
    background-color: var(--dark-secondary-color);
    border: none;
    border-radius: 5px;
}

.header-dashboard{
    grid-area: three;
    display: grid;
    place-items: center;
    grid-template-areas: 
    "one"
    "two";
    gap: 10px;
    width: 70%;
    max-width: 800px;
}

.header-welcome-article{
    grid-area: one;
}
.welcome-title{
    position: relative;
    color: var(--dark-special-heading);
    font-size: var(--heading-title-size);
}

.welcome-title::before{
    position: absolute;
    content: 'Hi';
    filter: blur(12px);
    opacity: 0.7;
    animation: welcome-blur-rotate 3s infinite linear;
}

@keyframes welcome-blur-rotate{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

.welcome-body{
    margin-top: 10px;
    color: var(--dark-paragraph-color);
    font-size: var(--paragraph-font-size);
}

.header-welcome-article strong{
    font-size: 0.8rem;
}

.biography-link{
    text-decoration: none;
    color: var(--dark-secondary-color-proj-links);
}

.dashboard-projects-wrapper{
    grid-area: two;
    width: 100%;
    margin-top: 30px;
}

.dashboard-projects-title{
    color: var(--dark-headings-color);
    font-size: var(--heading2-title-size);
}

.project-links-ul{
    list-style: none;
    padding-left: calc(2 * 0.625rem);
    box-sizing: border-box;
}
.project-links-ul > li > a{
    position: relative;
    text-decoration: none;
    color: var(--dark-secondary-color-proj-links);
    font-size: 0.9rem;
    z-index: 100;
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.project-list-item{
    display: flex;
    align-items: center;
}

.project-list-item > a:before{
    content: '';
    background-color: var(--dark-secondary-color-a-before);
    height: 100%;
    position: absolute;
    width: 1px;
    left: calc(-1 * 2 * 0.625rem);
    z-index: -1;
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.project-list-item:hover a {
    color: var(--dark-a-hover);
}

.project-list-item:hover a:before{
    width: 130%;
    
}

.stylish-strip-bottom{
    position: absolute;
    bottom: 0;
    background-color: var(--dark-strip-bg-color);
    height: calc(2.5 * 0.625rem);
    /* padding: 5px calc(2 * 0.625rem); */
    width: 100%;
    gap: 20px;
}

.stylish-strip-bottom > div {
    position: absolute;
    white-space: nowrap;
    padding-right: 30px;
    bottom: calc(0.17 * 0.625rem);
    font-weight: bold;
    color: var(--dark-bg-color);
    font-size: 0.7rem;
}

.stylish-strip-bottom div:nth-of-type(1){
    translate: 0 0;
}
.stylish-strip-bottom div:nth-of-type(2){
    translate: 100% 0;
}


.strip-out{
    animation: strip-para-out 16s 1 linear;
} 
.strip-in{
    animation: strip-para-in 16s 1 linear;
}


@keyframes strip-para-out{
    0%{
       translate: 0 0;
    }
    100%{
        translate: -100% 0;
    }
}

@keyframes strip-para-in{
    0%{
        translate: 100% 0;
    }
    100%{
        translate: 0 0;
    }
}

.author-sign{
    position: fixed;
    right:-6rem;
    font-size: 0.6rem;
    /* bottom: 50%; */
    rotate: -90deg;
    font-weight: lighter;
}

.author-sign > strong {
    color: var(--dark-paragraph-color);
}

.author-sign a {
    text-decoration: none;
    color: var(--dark-secondary-color-proj-links);
}
@media screen and (max-width: 750px) and (min-width: 300px) and (orientation: landscape){
    .mobile-header-nav-wrapper{
        display: none;
    }
    .header-menu-btn{
        display: none;
    }
    .page-header-nav-wrapper{
        display: block;
    }
    .header-dashboard{
        grid-template-areas: "one two";
        column-gap: calc(5 * 0.625rem);
        justify-self: center;
    }
    .dashboard-projects-wrapper{
        margin-top: 0px;
    }
}


@media screen and (min-width: 750px){
    .mobile-header-nav-wrapper{
        display: none;
    }
    .header-menu-btn{
        display: none;
    }
    .page-header-nav-wrapper{
        display: block;
    }
    .header-dashboard{
        grid-template-areas: "one two";
        column-gap: calc(5 * 0.625rem);
        justify-self: center;
    }
    .dashboard-projects-wrapper{
        margin-top: 0px;
    }
        
}




@media all and (hover: none){
    .project-list-item:focus a{
        width: 130%;
        
    }
}

@media all and (hover: hover){
    .logo:hover{
       fill: var(--dark-secondary-color);
        scale: 1.5;
    }
    .page-header-list-item a:hover{
        color: var(--dark-secondary-color);
    }
    .mobile-header-nav-ul .page-header-list-item a:hover{
        color: var(--dark-secondary-color-mobile-links);
    }
}

@media screen and (max-width: 995px) and (orientation: landscape){
    .author-sign{
        right:-5.7rem;
    }
}


@media screen and (max-width: 750px) and (min-width: 500px){
    .mobile-header-nav-ul{
        gap: 15px;
    }
}


@media screen and (max-width: 500px){
    .mobile-header-nav-ul > li > a{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 376px){
    .mobile-header-nav-wrapper{
        top: calc(0.625 * 11rem);
    }
    .author-sign{
        right:-5.7rem;
    }
}

@media screen and (max-width: 250px){
    .mobile-header-nav-wrapper{
        top: calc(0.625 * 13rem);
    }
    .author-sign{
        right:-5.5rem;
    }
}