.page-main-header{
    display:grid;
    /* padding: 50px; */
    margin: 30px;
    padding: calc(5 * 0.625rem);
    height: calc(100vh - 60px);
    grid-template-rows: max-content 1fr;
    grid-template-areas: 
    "one two"
    "three three";
    border: solid var(--dark-secondary-color);
    border-radius: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.367);
}



.page-header-logo-wrapper{
    grid-area: one;
}

.logo{
    max-width: 30px;
    min-width: 5%;
    fill: var(--dark-headings-color);
}


.page-header-nav-wrapper{
    grid-area: two;
    display: none;
}

.page-header-nav-ul{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    list-style-type: none;
}

.page-header-list-item a{
    text-decoration: none;
    color: var(--dark-paragraph-color);
    font-size: 0.7rem;
}

.header-menu-btn{
    width: max-content;
    padding: 5px calc(0.625 * 2rem);
    font-weight: bold;
    justify-self: end;
    cursor: pointer;
    background-color: var(--dark-secondary-color);
    border: none;
    border-radius: 5px;
}

.header-dashboard{
    grid-area: three;
    display: grid;
    place-items: center;
    grid-template-areas: 
    "one"
    "two";
    gap: 10px;
    width: 70%;
    max-width: 800px;
}

.header-welcome-article{
    grid-area: one;
}
.welcome-title{
    color: var(--dark-headings-color);
    font-size: 1.5rem;
}

.welcome-body{
    margin-top: 10px;
    color: var(--dark-paragraph-color);
    font-size: 0.7rem;
}


.dashboard-projects-wrapper{
    grid-area: two;
    width: 100%;
    margin-top: 30px;
}

.dashboard-projects-title{
    color: var(--dark-headings-color);
    font-size: 1.1rem;
}

.project-links-ul{
    list-style: none;
    padding-left: 20px;
    box-sizing: border-box;
}
.project-links-ul > li > a{
    position: relative;
    text-decoration: none;
    color: var(--dark-secondary-color);
    font-size: 0.8rem;
    z-index: 100;
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.project-list-item{
    display: flex;
    align-items: center;
}

.project-list-item > a:before{
    content: '';
    background-color: var(--dark-secondary-color);
    height: 100%;
    position: absolute;
    width: 1%;
    left: -20px;
    z-index: -1;
    transition: 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.project-list-item:hover a {
    color: var(--dark-headings-color);
}

.project-list-item:hover a:before{
    width: 130%;
    
}




.hidden{
    display: none;
}







@media screen and (min-width: 750px){
    .header-menu-btn{
        display: none;
    }
    .page-header-nav-wrapper{
        display: block;
    }
    .header-dashboard{
        grid-template-areas: "one two";
        column-gap: 30px;
        justify-self: center;
    }
    .dashboard-projects-wrapper{
        margin-top: 0px;
    }
        
}


@media all and (hover: none){
    .project-list-item:focus a{
        width: 130%;
        
    }
}